@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
/* Add this to your CSS file */
.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
  background-color: #f0f0f0; /* Light gray background */
}


